
body {
    display: flex;
    background-color: black;
    justify-content: center;
}

#loginForm { 
    margin-top: 15%;
    display: flex;
    width: 50%;
    justify-content: center;
}

#formbg { 
    display: flex;
    width: 60%;
    flex-direction: column;
    background-image: url(border6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0%;
    padding: 10%;
}

#inputDiv { 
    display: flex;
    flex-direction: row;
}

.inputField {
    display: flex;
    font-size: 0.8vw;
    color: rgb(15, 15, 15);
    width: 100%;
    height: 1vw;
    padding: 1%;
    margin: 1%;
}

#submitDiv {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

#submitButton { 
    border: 1px solid white;
    color: white;
    background-color: black;
    width: 4vw;
    height: 1.5vw;
}   

#errorMessage {
    color: red;
    text-align: center;
    padding: auto;
}
